<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />



    <application


        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrpAsg"
        tools:targetApi="31">

        <activity
            android:name="com.example.grpasg.FlashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- LoginActivity -->
        <activity android:name="com.example.grpasg.LoginActivity" />

        <!-- SignUpActivity -->
        <activity android:name="com.example.grpasg.SignUpActivity" />
        <!-- MainActivity -->
        <activity android:name="com.example.grpasg.MainActivity" />

        <activity android:name="com.example.grpasg.BmiCalculatorActivity" />

        <activity android:name="com.example.grpasg.CommunityActivity" />

        <activity android:name="com.example.grpasg.CyclingActivity" />

        <activity android:name="com.example.grpasg.HistoryActivity" />

        <activity android:name="com.example.grpasg.LeaderboardActivity" />

        <activity android:name="com.example.grpasg.ReminderActivity" />

        <activity android:name="com.example.grpasg.RunningActivity" />


        <activity android:name="com.example.grpasg.WeatherActivity" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAteo6chIdQtTQp1AiH1Gf0DfUoYMfYELY"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".ReminderBroadcastReceiver" />

    </application>

</manifest>